<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waterstation.waterstation.mapper.TbAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.waterstation.waterstation.entity.TbAdmin">
        <id column="id" property="id" />
        <result column="admin_name" property="adminName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="gender" property="gender" />
        <result column="admin_password" property="adminPassword" />
        <result column="permission" property="permission" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_name, admin_password, permission, add_time,phone_number,gender
    </sql>

</mapper>
