<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waterstation.waterstation.mapper.TbGroupMapper">

<!-- 通用查询映射结果 -->
<resultMap id="BaseResultMap" type="com.waterstation.waterstation.entity.TbGroup">
    <id column="id" property="id" />
    <result column="group_id" property="groupId" />
    <result column="group_name" property="groupName" />
    <result column="group_owner" property="groupOwner" />
    <result column="group_point" property="groupPoint" />
</resultMap>

<!-- 通用查询结果列 -->
<sql id="Base_Column_List">
    id, group_id,group_name,group_owner,group_point
</sql>

</mapper>
